/node_modules
/public/hot
/public/storage
/public/changelog.json
/public/docs
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.aider*
